<ion-view title="DriveAlert">
    <ion-content style="background: url(http://s1.cdn.autoevolution.com/images/news/how-to-avoid-traffic-jams-35319_2.jpg)center center no-repeat;">
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <button class="button  button-energized"  ui-sref="main.register">Register</button>
        <div class="title"></div>
        <button class="button button-energized"  ui-sref="main.login">Login</button>
    </div>

</ion-view>