<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Register" icon-on="ion-asterisk" icon-off="ion-asterisk" href="#/main/register">
        <ion-nav-view name="main-register"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Login" icon-off="ion-key" icon-on="ion-key" href="#/main/login">
        <ion-nav-view name="main-login"></ion-nav-view>
    </ion-tab>


</ion-tabs>
