<ion-view title="Accident">
    <ion-content>
        <div class="list card">
            <div class="item item-divider bar bar-header bar-assertive">REPORT AN ACCIDENT</div>
            <div class="item item-body">
                <div class="list">
                    <label class="item item-input item-select">
                        <span class="input-label">State</span>
                        <select ng-model="accident.state">
                            <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Enter License Plate #" ng-model="accident.license">
                    </label>
                    <button ng-click="alertMessage(accident)" class="button button-full button-assertive">
                        REPORT AN ACCIDENT
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>