<ion-view title="Alert">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider bar bar-header bar-energized">Alert Another Driver</div>
            <div class="item item-body">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Enter License Plate #" ng-model="message.license">
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">State</span>
                        <select ng-model="message.state">
                            <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
                        </select>
                    </label>
                    <div class="list">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Issue
                            </div>
                            <select ng-model="message.message">
                                <option>Blinker is on</option>
                                <option selected>Gas Cap is Open</option>
                                <option>Tire is Flat</option>
                                <option>Headlight orBrakelight is Out</option>
                            </select>
                        </label>
                    </div>
                    <button ng-click="sendMessage(message)" class="button button-full button-energized">
                        Send Message
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
