<ion-tabs class="tabs-positive tabs-icon-only">

  <!-- Dashboard Tab -->

    <ion-tab title="My Cars" icon-on="ion-model-s" icon-off="ion-model-s" href="#/tab/cars">
        <ion-nav-view name="tab-cars"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My Contacts" icon-on="ion-person-add" icon-off="ion-person-add" href="#/tab/contacts">
        <ion-nav-view name="tab-contacts"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Report Accident" icon-on="ion-alert" icon-off="ion-alert" href="#/tab/accident">
        <ion-nav-view name="tab-accident"></ion-nav-view>
    </ion-tab>

  <ion-tab title="Alert a Driver" icon-off="ion-alert-circled" icon-on="ion-alert-circled" href="#/tab/alert">
    <ion-nav-view name="tab-alert"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
