<ion-modal-view class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit Car</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <!--//////YEAR-->
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Year</span>
                <input type="text"  ng-model="editThisCar.year" placeholder="Year">
            </label>

            <!--//////STATE-->
            <label class="item item-input item-select">
                <span class="input-label">State</span>
                <select ng-model="editThisCar.state">
                    <option selected  value="{{editThisCar.state}}">{{editThisCar.state}}</option>
                    <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
                </select>
            </label>

            <!--//////License-->
            <label class="item item-input">
                <span class="input-label">License Plate #</span>
                <input type="text" ng-model="editThisCar.license" >
            </label>

            <!--//////DESCRIPTION-->
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" ng-model="editThisCar.description"  placeholder="Make/Model">
            </label>
            <button ng-click="editCar(editThisCar)" class="button button-full button-positive">
                Save Changes
            </button>
        </div>
    </ion-content>
</ion-modal-view>