<ion-view title="Register">
    <ion-content class=" padding">
        <div class="list card">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name" ng-model="user.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="Password" placeholder="Password" ng-model="user.password">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Confirm Password</span>
                    <input type="Password" placeholder="Confirm Password" ng-model="user.password_confirmation">
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="register(user)">
                Sign Up
            </button>
        </div>
    </ion-content>
</ion-view>
