<ion-view title="Contacts">
    <ion-content  class="padding">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refreshContactsData()">
        </ion-refresher>
        <div class="list card">
            <div class="item item-divider bar bar-header bar-balanced">Emergency Contacts</div>
            <div class="item item-body">
                        <div class="list"  ng-repeat="contact  in savedContacts">
                            <div class="item item-button-right">
                                <h3 style="margin:0px;">{{contact.name}}</h3>
                                   <h4>{{contact.number}}</h4>

                                <button class="button button-balanced" ng-click="editContact(contact)">
                                    <i class="icon ion-compose"></i>
                                </button>
                            </div>

                        </div>
                        <button class="button button-block button-balanced" ng-click="getContactList()">
                            Add A New Contact
                        </button>
                    </div>
                </div>
    </ion-content>
</ion-view>