<ion-modal-view class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Add A Car</h1>
    </ion-header-bar>
    <ion-content class="padding">

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Year</span>
                    <input type="number" ng-model="car.year">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">State</span>
                    <select ng-model="car.state">
                        <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">License Plate #</span>
                    <input type="text" ng-model="car.license">
                </label>
                <label class="item item-input">
                    <span class="input-label">Description</span>
                   <textarea ng-model="car.description"></textarea>
                </label>
                <button ng-click="makeCar(car)" class="button button-full button-positive">
                    Add This Car
                </button>
            </div>
    </ion-content>
</ion-modal-view>